---
import Layout from '@/components/Layout.astro';
---

<script is:inline>
  document.addEventListener('DOMContentLoaded', function () {
    plausible('404', { props: { path: document.location.pathname } });
  });
</script>

<Layout title="404" description="Page not found">
  <h1 class="text-2xl font-bold text-center">404</h1>
  <p class="text-center">
    The page you are looking for does not exist. Please check the URL and try
    again or <a class="underline hover:text-muted-foreground" href="/"
      >go back to the homepage</a
    >.
  </p>
</Layout>
