---
import Layout from '@/components/Layout.astro';
import { MyGallery } from '@/components/MyGallery';
import { getImages } from '@/server/db/queries';

export const prerender = false;

console.log(import.meta.env.DATABASE_URL);

const images = await getImages();
---

<Layout title="Gallery">
  <h1 class="text-2xl font-bold text-center">Gallery</h1>
  <p class="text-center mb-2">Here you can see some of what we have done.</p>
  <MyGallery images={images} />
</Layout>
