---
import Layout from '@/components/Layout.astro';

import { Card } from '@/components/ui/cool-card';
---

<Layout
  title="Lancaster Uni Circus Convention (LUCC)"
  description="Our annual circus convention at Lancaster University"
>
  <div class="flex flex-col items-center gap-4 max-w-5xl text-center mx-4">
    <h1 class="text-4xl font-bold text-center">
      Lancaster Uni Circus Convention (LUCC) 2026
    </h1>

    <Card client:load>
      <div class="p-4 flex flex-col items-center gap-4">
        <p class="text-xl">Provisional Dates:</p>
        <p>
          Saturday, July 4th, 2026 to Sunday, July 5th, 2026
        </p>
        <p class="text-sm">More info coming soon!</p>
      </div>
    </Card>
  </div>
</Layout>
