---
import { CountdownToDate } from "@/components/Countdown";
import Layout from "@/components/Layout.astro";
import { buttonVariants } from "@/components/ui/button";
import {
  Table,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";

import { Card } from "@/components/ui/cool-card";
import { Calendar, Clock, MapPin } from "lucide-react";
import { LUCCMaps } from "@/components/LUCCMaps";

const isLink = (str: string) => /^https?:\/\//.test(str);

const questions: {
  question: string;
  answer: string;
}[] = [
  {
    question: "Can tickets be bought at the door?",
    answer: "Yes!",
  },
  {
    question: "Where can we find the timetable for the convention?",
    answer: "https://lucc.lumacs.co.uk/",
  },
  {
    question: "Can I run a workshop or stall?",
    answer:
      "Yes! We are currently looking for workshops and stalls. If you are interested in running a workshop or stall, please fill out the applicable form below.",
  },
  {
    question: "Will there be a separate room for chilling/board games?",
    answer:
      "While the layout is still being worked out, we have assigned a room for board games and one for chilling.",
  },
  {
    question: "How accessible is the convention?",
    answer:
      "The convention is accessible to all, no matter your ability or disability. We'll do our best to accommodate all attendees. Please contact us if you have any specific needs or questions.",
  },
  {
    question: "Are dogs allowed?",
    answer:
      "No, unless your dog is a service dog. We will not be allowing dogs at the convention.",
  },
];
---

<Layout
  title="Lancaster Uni Circus Convention (LUCC)"
  description="Our annual circus convention at Lancaster University"
>
  <div class="flex flex-col items-center gap-4 max-w-5xl text-center mx-4">
    <h1 class="text-4xl font-bold text-center">
      Lancaster Uni Circus Convention (LUCC)
    </h1>

    <Card client:load>
      <div class="m-4 flex flex-col items-center gap-4">
        <p class="text-xl">Thanks for coming!!!</p>
        <p>
          Please fill out our
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSdM8WboAdjUnKGxlRgYJ_6YXDwukI3WFdW7bwkb4ybKfghbNQ/viewform?usp=dialog"
            >LUCC 2025 Feedback</a
          >.
        </p>
        <p class="text-xl">Keep up with this page to find out more about LUCC 2026!</p>
      </div>
    </Card>
  </div>
</Layout>
