---
import { CountdownToDate } from '@/components/Countdown';
import Layout from '@/components/Layout.astro';
import { buttonVariants } from '@/components/ui/button';

import { Card } from '@/components/ui/cool-card';
import { Calendar, Clock, MapPin } from 'lucide-react';
---

<Layout
  title="Lancaster Uni Circus Convention (LUCC)"
  description="Our annual circus convention at Lancaster University"
>
  <div class="flex flex-col items-center gap-4 max-w-5xl text-center mx-4">
    <h1 class="text-4xl font-bold text-center">
      Lancaster Uni Circus Convention (LUCC)
    </h1>

    <Card client:load>
      <div class="m-4 flex flex-col items-center gap-4">
        <p class="text-xl">
          Back by popular demand, LUMACS is proudly presenting LUCC! A magic and
          circus convention open to all, no matter your experience or skill
          level!
        </p>
        <video
          width="400"
          height="400"
          controls
          poster="/assets/branding/lucc/dark_bg.png"
        >
          <source
            src="https://m7c1r2a0nw.ufs.sh/f/UTm3I5JgKuqro3sMYYOq2Ml6XhEmrS5P9aRQiTeIdbsyGnJB"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
        <a
          href="https://lancastersu.co.uk/groups/magic-and-circus-society-lumacs/events/lucc-lumacs-convention-2025"
          class={buttonVariants()}
        >
          Buy tickets
        </a>
      </div>
    </Card>

    <div
      class="flex flex-col md:flex-row gap-4 w-full justify-around [&>*>*]:flex-1"
    >
      <Card client:load>
        <div class="m-4 flex flex-col items-center gap-4">
          <h2 class="text-2xl font-bold mb-4">Schedule</h2>
          <h3 class="text-xl font-semibold mb-2">Saturday:</h3>
          <ul class="list-disc list-inside mb-4">
            <li>Arrivals (10am)</li>
            <li>Club combat (2pm - 4pm)</li>
            <li>Renegade show (7pm - 9pm)</li>
            <li>Fire Night (9pm onwards)</li>
            <li>Workshops and Games (throughout day)</li>
          </ul>
          <h3 class="text-xl font-semibold mb-2">Sunday:</h3>
          <ul class="list-disc list-inside mb-4">
            <li>Workshops and Games (throughout day)</li>
            <li>Gala Show (3pm - 5pm)</li>
          </ul>
          <p class="text-sm italic">
            Subject to change. Follow our Instagram for updates: @lu_macs
          </p>
        </div>
      </Card>
      <Card client:load>
        <div class="m-4 flex flex-col items-center gap-4">
          <h2 class="text-2xl font-bold mb-4">Venue/Timing</h2>
          <ul class="space-y-2">
            <li class="flex items-center">
              <MapPin className="mr-2" /> Lancaster University, LICA
            </li>
            <li class="flex items-center">
              <Calendar className="mr-2" /> July 26-27, 2025
            </li>
            <li class="flex items-center">
              <Clock className="mr-2" /> Saturday 10:00 - Sunday 20:00
            </li>
          </ul>
          <CountdownToDate
            client:load
            date={new Date(2025, 6, 26, 10)}
            message="Convention Time!"
          />
          <a
          class={buttonVariants()}
            target="_blank"
            href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=MnVmcTV0NnZkcTRiNGFidXBrZnFsb2Zla3UgbHVtYWdpY2FuZGNpcmN1c0Bt&tmsrc=lumagicandcircus%40gmail.com"
            >Add to Google Calendar</a
          >
        </div>
      </Card>
    </div>
    <a href="/lucc/terms/" class={buttonVariants({ variant: 'link' })}>
      Terms & Conditions
    </a>
  </div>
</Layout>
