---
import Layout from '@/components/Layout.astro';

import { Card } from '@/components/ui/cool-card';
import { Calendar, Clock, MapPin } from 'lucide-react';
---

<Layout
  title="Lancaster Uni Circus Convention (LUCC)"
  description="Our annual circus convention at Lancaster University"
>
  <!-- <h1 class="text-3xl font-bold text-center mb-4">
    Lancaster Uni Circus Convention (LUCC)
  </h1>

  <p class="text-center max-w-2xl mx-auto mb-6">
    Back by popular demand, LUMACS is proudly presenting LUCC! A magic and
    circus convention open to all, no matter your experience or skill level!
  </p>

  <h2 class="text-2xl font-bold text-center mb-2">Schedule</h2>
  <div class="mb-4">
    <h3 class="font-bold">Saturday:</h3>
    <ul class="list-disc list-inside ml-6">
      <li>Arrivals (10am)</li>
      <li>Club combat (2pm - 4pm)</li>
      <li>Renegade show (7pm - 9pm)</li>
      <li>Fire Night (9pm onwards)</li>
      <li>Workshops and Games (throughout day)</li>
    </ul>

    <h3 class="font-bold mt-4">Sunday:</h3>
    <ul class="list-disc list-inside ml-6">
      <li>Workshops and Games (throughout day)</li>
      <li>Gala Show (3pm - 5pm)</li>
    </ul>
  </div>

  <p class="text-center italic mb-4">
    Subject to change. Follow our Instagram for updates: <a
      class="underline hover:text-muted-foreground"
      href="https://www.instagram.com/lu_macs/">@lu_macs</a
    >
  </p>

  <h2 class="text-2xl font-bold text-center mb-2">Venue/Timing</h2>
  <p class="text-center mb-4">
    <strong>Venue:</strong> Lancaster University, LICA<br />
    <strong>Type:</strong> Give It A Go, Meeting, Merch, Performing Arts, Society,
    Sport, Tickets, Workshops & Training<br />
    <strong>Start Date:</strong> Saturday 26-07-2025 - 10:00<br />
    <strong>End Date:</strong> Sunday 27-07-2025 - 20:00
  </p> -->

  <div class="flex flex-col items-center gap-4 max-w-5xl text-center mx-4">
    <h1 class="text-4xl font-bold text-center">
      Lancaster Uni Circus Convention (LUCC)
    </h1>

    <Card client:load>
      <div class="m-4 flex flex-col items-center gap-4">
        <p class="text-xl">
          Back by popular demand, LUMACS is proudly presenting LUCC! A magic and
          circus convention open to all, no matter your experience or skill
          level!
        </p>
        <!-- TODO: countdown -->
      </div>
    </Card>

    <div
      class="flex flex-col md:flex-row gap-4 w-full justify-around [&>*>*]:flex-1"
    >
      <Card client:load>
        <div class="m-4 flex flex-col items-center gap-4">
          <h2 class="text-2xl font-bold mb-4">Schedule</h2>
          <h3 class="text-xl font-semibold mb-2">Saturday:</h3>
          <ul class="list-disc list-inside mb-4">
            <li>Arrivals (10am)</li>
            <li>Club combat (2pm - 4pm)</li>
            <li>Renegade show (7pm - 9pm)</li>
            <li>Fire Night (9pm onwards)</li>
            <li>Workshops and Games (throughout day)</li>
          </ul>
          <h3 class="text-xl font-semibold mb-2">Sunday:</h3>
          <ul class="list-disc list-inside mb-4">
            <li>Workshops and Games (throughout day)</li>
            <li>Gala Show (3pm - 5pm)</li>
          </ul>
          <p class="text-sm italic">
            Subject to change. Follow our Instagram for updates: @lu_macs
          </p>
        </div>
      </Card>
      <Card client:load>
        <div class="m-4 flex flex-col items-center gap-4">
          <h2 class="text-2xl font-bold mb-4">Venue/Timing</h2>
          <ul class="space-y-2">
            <li class="flex items-center">
              <MapPin className="mr-2" /> Lancaster University, LICA
            </li>
            <li class="flex items-center">
              <Calendar className="mr-2" /> July 26-27, 2025
            </li>
            <li class="flex items-center">
              <Clock className="mr-2" /> Saturday 10:00 - Sunday 20:00
            </li>
          </ul>
        </div>
      </Card>
    </div>
  </div>
</Layout>
