---
import Layout from '@/components/Layout.astro';
---

<Layout title="Privacy Policy" description="Privacy Policy for Lancaster University Magic and Circus Society (LUMACS) website">
  <div class="flex flex-col items-center gap-2 max-w-2xl">
    <h1 class="text-2xl font-bold text-center">Privacy Policy</h1>
    <p class="text-center">
      This privacy policy describes how we collect, use and disclose information
      about you when you use our website, <a
        class="underline hover:text-muted-foreground"
        href="https://lumacs.co.uk">lumacs.co.uk</a
      >.
    </p>
    <p class="text-center">
      We are committed to protecting your privacy and ensuring that your
      personal information is secure. We take your privacy seriously and will
      not share your personal information with third parties without your
      consent.
    </p>
    <h2 class="font-bold text-2xl">Analytics</h2>
    <p class="text-center">
      We use a self hosted instance of Plausible Analytics to track basic
      anonymised usage statistics. We do not collect any personal information
      from users. To find out more about Plausible Analytics, please visit their
      website at
      <a
        class="underline hover:text-muted-foreground"
        href="https://plausible.io">plausible.io</a
      >.
    </p>
    <h2 class="font-bold text-2xl">Hosting</h2>
    <p class="text-center">
      We use Cloudflare to host our website. Cloudflare is a global content
      delivery network that provides fast and secure web hosting, DNS services,
      and a range of other services to help you build and grow your online
      presence. To find out more about Cloudflare, please visit their website at
      <a
        class="underline hover:text-muted-foreground"
        href="https://cloudflare.com">cloudflare.com</a
      >.
    </p>
    <div class="font-bold text-2xl">Questions</div>
    <p class="text-center">
      If you have any questions or concerns about our privacy policy, please
      contact us at <a
        class="underline hover:text-muted-foreground"
        href="mailto:hello@lumacs.co.uk">hello@lumacs.co.uk</a
      >. You can also find this website's source code on
      <a
        class="underline hover:text-muted-foreground"
        href="https://github.com/lu-macs/lumacs.co.uk"
        >https://github.com/lumacs/lumacs.co.uk</a
      >.
    </p>
  </div>
</Layout>
