---
import '@/styles.css';
import { ModeToggle } from '@/components/ModeToggle';
import { Separator } from '@/components/ui/separator';

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    return window.matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'light';
  };
  const isDark = getThemePreference() === 'dark';
  document.documentElement.classList[isDark ? 'add' : 'remove']('dark');

  if (typeof localStorage !== 'undefined') {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains('dark');
      localStorage.setItem('theme', isDark ? 'dark' : 'light');
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ['class'],
    });
  }
</script>

<html lang="en">
  <head>
    <link
      rel="canonical"
      href={`${Astro.site}${Astro.url.pathname.slice(1)}`}
    />
    <meta name="darkreader-lock" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta charset="utf-8" />
    <link rel="icon" type="image/jpeg" href="/logo.jpeg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - LUMACS</title>
    <script
      defer
      data-domain="lumacs.co.uk"
      src="https://ingest.tokia.dev/js/script.js"></script>
  </head>
  <body class="flex flex-col h-screen">
    <nav class="p-4 flex items-center">
      <a href="/" class="font-bold text-2xl hover:text-muted-foreground"
        >LUMACS</a
      >
      <div class="flex-grow"></div>
      <ModeToggle client:load />
    </nav>
    <Separator className="mb-4" />
    <main class="flex flex-col items-center flex-grow">
      <slot />
    </main>
    <Separator className="mt-4" />
    <footer
      class="flex flex-col md:flex-row justify-center lg:gap-4 items-center text-center p-4"
    >
      <span
        >© {new Date().getFullYear()} Lancaster University Magic and Circus Society</span
      >
      <a href="/privacy" class="underline hover:text-muted-foreground"
        >Privacy Policy</a
      >
      <a
        href="https://github.com/lu-macs/lumacs.co.uk"
        class="underline hover:text-muted-foreground">GitHub</a
      >
      <a
        href="https://www.instagram.com/lu_macs/"
        class="underline hover:text-muted-foreground">Our Instagram</a
      >
    </footer>
  </body>
</html>
