---
import { ViewTransitions } from 'astro:transitions';

import '@/styles.css';
import { ModeToggle } from '@/components/ModeToggle';
import { Separator } from '@/components/ui/separator';
import { Toaster } from '@/components/ui/sonner';
import { ResourcesLinks } from './ResourcesLinks';

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    return window.matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'light';
  };

  const isDark = getThemePreference() === 'dark';
  document.documentElement.classList[isDark ? 'add' : 'remove']('dark');

  let transitioning = false;

  if (typeof localStorage !== 'undefined') {
    const observer = new MutationObserver(() => {
      if (!transitioning) {
        const isDark = document.documentElement.classList.contains('dark');
        localStorage.setItem('theme', isDark ? 'dark' : 'light');
      }
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ['class'],
    });
  }

  document.addEventListener('astro:before-preparation', () => {
    transitioning = true;
  });

  document.addEventListener('astro:before-swap', (ev) => {
    const isDark = getThemePreference() === 'dark';
    ev.newDocument.documentElement.classList[isDark ? 'add' : 'remove']('dark');
  });

  document.addEventListener('astro:after-swap', () => {
    transitioning = false;
  });
</script>

<html lang="en">
  <head>
    <link
      rel="canonical"
      href={`${Astro.site}${Astro.url.pathname.slice(1).replace(/\/$/, '')}/`}
    />
    <meta name="darkreader-lock" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta charset="utf-8" />
    <link rel="icon" type="image/jpeg" href="/logo.jpeg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - LUMACS</title>
    <meta name="description" content={description} />
    <script
      is:inline
      defer
      data-domain="lumacs.co.uk"
      src="https://ingest.tokia.dev/js/script.js"></script>
    <ViewTransitions />
  </head>
  <body class="flex flex-col h-screen">
    <Toaster client:load />

    <nav class="p-4 flex items-center gap-4" transition:name="nav">
      <a href="/" class="font-bold text-2xl hover:text-muted-foreground"
        >LUMACS</a
      >
      <ResourcesLinks client:load />
      <div class="flex-grow"></div>
      <ModeToggle client:load />
    </nav>
    <Separator />
    <main class="flex flex-col items-center flex-grow relative">
      {/* cool colour bg thing */}
      <div
        class="absolute left-0 top-0 -z-10 h-full w-full overflow-hidden"
        transition:name="top-colour-thing"
      >
        <div
          class="pointer-events-none absolute inset-x-0 transform-gpu overflow-hidden blur-3xl sm:-top-80"
          aria-hidden="true"
        >
          <div
            class="relative left-[calc(50%)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-purple-600 to-primary-muted opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
            style="clip-path: polygon(16% 45%, 48% 40%, 1% 26%, 85% 0%, 100% 46%, 30% 3%, 78% 75%, 85% 85%, 13% 100%, 100% 58%, 75% 52%, 45% 71%)"
          >
          </div>
        </div>
      </div>
      <div class="mb-4"></div>
      <slot />
      <div class="mt-4"></div>
      {/* cool colour bg thing */}
      <div
        class="absolute top-0 left-0 -z-10 h-full w-full overflow-hidden"
        transition:name="bottom-colour-thing"
      >
        <div
          class="pointer-events-none absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
          aria-hidden="true"
        >
          <div
            class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-pink-500 to-primary-muted opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
            style="clip-path: polygon(16% 45%, 48% 40%, 1% 26%, 85% 0%, 100% 46%, 30% 3%, 78% 75%, 85% 85%, 13% 100%, 100% 58%, 75% 52%, 45% 71%)"
          >
          </div>
        </div>
      </div>
    </main>
    <Separator />
    <footer
      class="flex flex-col md:flex-row justify-center lg:gap-4 items-center text-center p-4"
      transition:name="footer"
    >
      <span
        >© {new Date().getFullYear()} Lancaster University Magic and Circus Society</span
      >
      <a href="/privacy/" class="underline hover:text-muted-foreground"
        >Privacy Policy</a
      >
      <a
        href="https://github.com/lu-macs/lumacs.co.uk"
        class="underline hover:text-muted-foreground">GitHub</a
      >
      <a
        href="https://www.instagram.com/lu_macs/"
        class="underline hover:text-muted-foreground">Our Instagram</a
      >
    </footer>
  </body>
</html>
