---
import logo from '@/components/logo.svg?raw';
import { cn } from '@/lib/utils';

type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<div class={cn('fill-primary', className)}>
  <Fragment set:html={logo} />
</div>
